@import "./../../../styles/mixins.scss";

.container-xxl {
  max-width: 75rem;
}

.guideTitle {
  font-size: 2rem;

  @media (max-width: 844px) {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.h3OneTour {
  @media (max-width: 844px) {
    font-size: 1.5rem;
  }

  @media (max-width: 844px) {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}

.guideCity {
  font-size: 1.8rem;
  color: #c6c4c4;

  @media (max-width: 844px) {
    font-size: 1.5rem;
  }
}

.OneTourButton {
  @include BotonCoral;
  // margin: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;

  @media (max-width: 844px) {
    margin-right: 0.4rem;
  }
}
.OneTourButtonDisabled {
  @include BotonGris;
  margin: 1rem;
}
.OneTourInfo {
  width: 30rem;

  @media (max-width: 844px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.OneTourDescription {
  width: 30rem;
  color: #8f8c8c;
  margin-top: 1rem;
  margin-bottom: -0.5rem;

  @media (max-width: 844px) {
    padding-left: 0.5rem;
    padding-right: 5rem;
  }
}
.custom-btn-container {
  padding: 0;
}

.OneTourBotones {
  width: 30rem;
  margin-bottom: 5rem;

  @media (max-width: 844px) {
    padding-left: 1rem;
  }
}

.OneTourImg {
  width: 30rem;
  border-radius: 2rem;
  aspect-ratio: 1/1;
  object-fit: cover;

  @media (max-width: 844px) {
    width: 100%;
  }
}

.createFor {
  color: #c6c4c4;
  margin-bottom: 0;
}

.nameCreatorGuide {
  font-size: 1.1rem;
}

.OneTourProfilePicture {
  width: 4rem;
  border-radius: 50%;
}
.OneTourLike {
  > img {
    width: 3rem;
    margin-left: 4rem;
  }
  > img:hover {
    width: 3.2rem;
  }
}
.OneTourLocation {
  width: 1.3rem;
}

.OneTourLocation:hover {
  width: 1.5rem;
}

.starSelected {
  color: #f07674;
}
.starNotSelected {
  color: #888;
}

.ec-stars-wrapper:hover a {
  color: #f07674;
}

.ec-stars-wrapper > a:hover ~ a {
  color: #888;
}

.OneTourSectionImg {
  width: 10rem;
}
