@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.divOtherUser {
  width: 20rem;
  background-color: white;
  border-radius: 2.5rem;
  box-shadow: 0px 0px 20px -5px rgba(28, 28, 28, 0.271);
  padding: 2rem;
  @media (max-width: 767px) {
    width: 80%;
    padding: 2rem;
    margin-bottom: 3rem; // Ajusta el margen inferior según tus necesidades
    margin-left: 1rem;
    margin-right: 1rem;
  }
  > p {
    margin-top: 1rem;
    margin-bottom: -0.09rem;
  }
  > h5 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
  }
}

.profileAvatarImg {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.profileAvatarInitial {
  font-size: 1.5rem;
  color: #f07674;
  margin: 0;
}
.mapeoTours {
  @media (max-width: 844px) {
    width: 100%;
    // padding: 2rem;
    // margin-bottom: 3rem; // Ajusta el margen inferior según tus necesidades
    margin-left: 0.5rem;
    margin-right: 0.8rem;
  }
}
