@import "../src/styles/mixins.scss";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: #f07674;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ec9794;
}
