@import "./../../../styles/mixins.scss";
.registerButton {
  @include BotonCoral;
}

.regLogo {
  width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Termsandprivacytext {
  p {
    margin-bottom: 10px; // Ajusta el margen inferior según tus necesidades
    a {
      margin-right: 10px; // Ajusta el margen derecho entre los enlaces según tus necesidades
    }
  }
}
