@import "./../../styles/mixins.scss";

.CardOneSectionButton {
  @include BotonBordeGris;
}

.CardOneSection {
  width: 13rem;
  padding: 1rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px -5px rgba(28, 28, 28, 0.271);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1180px) {
    margin: 0;
    margin-bottom: 5rem;
    margin-right: 3rem;
    margin-top: -3rem;
  }
}
.CardOneSection:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.TourSectionImg {
  width: 11rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}

.h5CardOneSection {
  font-size: 1rem;
}

.pInfo {
  font-size: 1rem;
  background-color: #f2f0f0;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(149, 147, 147);
}
