@import "../../styles/mixins.scss";
.CardOneTour {
  margin: 2rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px -5px rgba(28, 28, 28, 0.271);
  > h2 {
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  > .CardOneTourCover {
    border-radius: 1.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
.CardOneTour:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}
.CardOneTourInfo {
  color: gray;
  > h3 {
    font-size: 1.5rem;
  }
  > .CardOneTourStar {
    > p {
      margin: 0rem 0rem 0.3rem 0.3rem;
      font-size: 2.2rem;
      color: #f07674;
    }
  }
}
.CardOneTourBoton {
  @include BotonCoral;
}
