@import "../../../styles/mixins.scss";

.backButton {
  @include BotonCoral;
}
.BackArrow {
  width: 1.8rem;
  margin: 0.5rem;
}
.BackCombo {
  padding: 2rem 2rem 2rem 5rem;
}
.myToursHeader {
  > h2 {
    color: #f07674;
    margin: 1rem 1rem 1rem 0rem;
  }
}
.myToursIcono {
  width: 3rem;
  margin: 1rem 1rem 1.8rem 1rem;
}
