@import "./../../styles/mixins.scss";

.error-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 50%;
}

.error-image {
  max-width: 50%;
  height: auto;
}

.error-btn {
  @include BotonCoral;
  margin-top: 2rem;
}
