@import "./../../../styles/mixins.scss";

.galleryButton {
  @include BotonCoral;
  margin-left: 0.5rem;
}
.gallerySearchbar {
  margin: 1rem;
}

.HomeWelcome {
  width: 50rem;
  font-size: 1rem;
  color: rgb(131, 129, 129);
  text-align: center;
  margin: 1rem;

  @media (max-width: 884px) {
    margin-top: -1rem;
  }
}

.HomeText {
  width: 80%;
  box-shadow: 0px 0px 20px -5px rgba(15, 15, 15, 0.271);
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}
