@import "./../../../styles/mixins.scss";

.OneSectionFather {
  padding-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .OneSectionBtn {
    @include BotonCoral;
    margin: 0.2rem;
    margin-bottom: 10px;
  }

  .OneSectionSubline {
    color: red;
    background-color: red;
    height: 5px;
    width: 100px;
  }
}

.OneSectionResourceOneIcon {
  color: #f07674;
  font-size: 3rem;
  cursor: pointer;

  &.active {
    color: red;
  }

  &:hover {
    color: red;
  }
}

.ImageSection {
  margin-bottom: 50px;
}

.OneSectionResourceInfo {
  padding-top: 20px;
}

video {
  width: 35vw;
  border-radius: 1.5rem;
}

audio {
  width: 35vw;
  border-radius: 1.5rem;
}

.OneSectionImagesContainer {
  gap: 16px; /* o el valor que prefieras para el espaciado entre imágenes */
  align-items: stretch;
}

.OneSectionResourceImg {
  width: 15rem;
  height: 15rem;
  display: block;
  border-radius: 1.5rem; /* Otra opción: aplica bordes redondeados a las imágenes */
}

@media (max-width: 767px) {
  .custom-audio-player,
  .custom-video-player {
    width: 65vw;
  }
}
