@import "./../../../styles/mixins.scss";

.OneSectionFather {
  padding-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .OneSectionBtn {
    @include BotonCoral;
    margin: 0.2rem;
    margin-bottom: 10px;
  }

  .OneSectionSubline {
    color: red;
    background-color: red;
    height: 5px;
    width: 100px;
  }
}

.OneSectionResourceOneIcon {
  color: #f07674;
  font-size: 3rem;
  cursor: pointer;

  &.active {
    color: red;
  }

  &:hover {
    color: red;
  }
}

.ImageSection {
  margin-bottom: 50px;
}

.OneSectionResourceInfo {
  padding-top: 20px;
}

video {
  width: 35vw;
  border-radius: 1.5rem;
}

audio {
  width: 35vw;
  border-radius: 1.5rem;
}

.OneSectionResourcesContainer {
  gap: 16px;
  align-items: stretch;
}

.OneSectionResourceImg {
  width: 15rem;
  height: 15rem;
  display: block;
  border-radius: 1.5rem;
}

.OneSectionResourceInfoDescription {
  text-wrap: balance;
}

@media (max-width: 767px) {
  .custom-audio-player {
    width: 65vw;
  }
}

@media (max-width: 767px) {
  .custom-video-player {
    width: 75vw;
  }
}

@media (max-width: 767px) {
  .OneSectionFather {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .OneSectionResourcesControls {
    text-align: center;
  }

  .OneSectionSubline {
    margin: 0 auto;
  }
  .OneSectionBtnContainer {
    text-align: left;
  }
}
