.perfilGeneral {
  padding: 2rem 10rem 2rem 6rem;
  > h1 {
    padding-bottom: 3rem;
  }
}

.perfilButton {
  padding: 3rem;
  text-align: center;
  > p {
    font-size: larger;
    font-weight: 700;
    margin-top: 1rem;
    color: rgb(108, 107, 107);
  }
}
.perfilButton:hover {
  transform: scale(0.9);
}

.perfilCircle {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid #f07674;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 80%;
    height: auto;
  }
}
