.UserPerfilGeneral {
  padding: 2rem 10rem 2rem 6rem;
  > h1 {
    padding-bottom: 3rem;
  }
}
.UserPerfilButton {
  padding: 3rem;
  > p {
    font-size: larger;
    font-weight: 700;
  }
}
.UserPerfilButton:hover {
  transform: scale(0.9);
}
.UserPerfilIcono {
  width: 10rem;
  padding: 2rem;
}
.UserPerfilCircle {
  border: 0.5rem solid #f07674;
  border-radius: 50%;
}
