@import "./../../../styles/mixins.scss";

.waitingFrame {
  width: 40rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px rgba(28, 28, 28, 0.271);
  padding: 4rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  text-align: center;
}
.waitingIcon {
  width: 13rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #f07674;
  border-radius: 50%;
}
.waitingVolver {
  @include BotonCoral;
}
.linkRegister {
  color: #f07674;
}
.stopIcon {
  width: 10rem;
  margin: 2rem;
}
