@import "./../../styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");

.UserMenuTitle {
  text-align: center;
  > h1 {
    font-family: Cabin;
    margin: 0rem 1rem 0.5rem 1rem;
    color: #f07674;
  }
}
.UserMenuButton {
  @include BotonCoral;
  margin: 1rem;
}
