@import "./../../styles/mixins.scss";

.termsGeneral {
  width: 40rem;
  // background-color: #f1eeee;
  padding: 4rem;
  margin-bottom: 4rem;
  color: #8b8989;
  border-radius: 0 3rem 3rem 0;

  @media (max-width: 767px) {
    width: 100%;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.termsButton {
  @include BotonCoral;
}

.imgTerms {
  width: 28rem;
  border-radius: 1rem;
  margin-top: -56rem;
}

.h2Terms {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.331);

  @media (max-width: 767px) {
    font-size: 1.8rem;
    margin-top: -3rem;
  }
}
