@mixin BotonBlanco {
  padding: 10px 17px;
  font-size: 16px;
  background-color: white;
  color: #f07674;
  border-radius: 2rem;
  border: none;

  &:hover {
    transform: scale(1.05);
  }
}
@mixin BotonCoral {
  padding: 10px 17px;
  font-size: 16px;
  color: white;
  background-color: #f07674;
  border-radius: 2rem;
  border: none;

  &:hover {
    transform: scale(1.05);
  }
}
@mixin BotonGris {
  padding: 10px 17px;
  font-size: 16px;
  color: white;
  background-color: rgb(182, 177, 177);
  border-radius: 2rem;
  border: none;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin BotonBordeGris {
  padding: 10px 17px;
  font-size: 16px;
  color: #c5c3c3;
  background-color: white;
  border-radius: 2rem;
  border: 1px solid #c5c3c3;

  &:hover {
    transform: scale(1.05);
  }
}
